<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Here goes life</title>
  </head>
  <body>
    <h3>Upload image to Deep Learning Model for Prediction</h3>
    <p>Image can belong to the following categories:</p>
    <ul>
      <li>Airplane</li>
      <li>Automobile</li>
      <li>Bird</li>
      <li>Cat,</li>
      <li>deer</li>
      <li>Dog</li>
      <li>Frog</li>
      <li>Horse</li>
      <li>Ship</li>
      <li>Truck</li>
    </ul>

    <form action="/prediction" method="post" enctype="multipart/form-data">
      <p>
        <input
          type="file"
          name="input_image"
          placeholder="input image"
          accept="image/png image/jpeg"
        />
      </p>
      <p>
        <input type="submit" />
      </p>
    </form>
  </body>
</html>
